# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/
*.env

# Django
*.log
db.sqlite3

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Dependencies
*.egg-info/
dist/
build/

# Secrets
.env
